## Personal
_internal/

## Obsidian
.obsidian/
.obsidian/.trash/
.tmp

## macOS
.DS_Store

### macOS extras, only matter for external drives
.AppleDouble
.Spotlight-V100
.Trashes
.fseventsd

## WindowsOS
Thumbs.db

## Optional
*.tmp
*.bak
